{% extends "base.html" %}

{% block main %}

<!--{% for short_lang, title in dict_data.items() %}
    <h6> {{short_lang}} for {{title}} </h6>
{% endfor %} -->

<div class="card-subtitle">
<ol class="list-group">
    {% for link, title, full_lang in zip(dict_data['link'], dict_data['title'], dict_data['full_lang']) %}

            <li class="lead"> {{full_lang}}
                <a href = {{ link }} target="_blank"> <strong> {{ title }}</strong>  </a>
                <a> Number of back links: {{ 1 }} </a>
            </li>

    {% endfor %}
</ol>
</div>




{% endblock %}

